.principal{
    margin: 20px;
    padding: 2px;
}

.tabla{
    width: 100%;
  border-collapse: separate; /* Asegura que el border-spacing funcione */
  border-spacing: 20px; /* Ajusta la cantidad de espacio entre columnas */
  background-color: rgba(220, 177, 3, 0.74);
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }